# The grades Model

In [70]:
import scipy
import numpy as np
import pandas as pd
import nltk
import matplotlib.pyplot as plt
import torchvision
import gradio as gr

In [71]:
data = pd.read_csv("C:/Users/Home/Desktop/LearningManagementAI/Data/archive/data.csv")
data.describe()

,Socioeconomic Score,Study Hours,Sleep Hours,Attendance (%),Grades
count,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,0.552274,4.560807,8.047262,58.536023,40.691643
std,0.261272,1.897581,1.370700,11.675287,9.467358
min,0.101280,0.800000,4.800000,40.000000,32.000000
25%,0.322118,3.475000,7.000000,49.000000,34.000000
50%,0.545945,3.900000,8.400000,57.000000,35.000000
75%,0.789610,5.900000,9.100000,66.000000,47.000000
max,0.999820,10.000000,10.000000,100.000000,91.000000

In [81]:
data.rename(columns = {'Socioeconomic Score' : 'SocioEconomic', 'Study Hours' : 'StudyHrs', 'Sleep Hours' : 'SleepHrs', 'Attendance(%)' : 'Attendance'})

      SocioEconomic  StudyHrs  SleepHrs  Attendance (%)  Grades
0           0.95822       3.4       8.2            53.0    47.0
1           0.85566       3.2       5.9            55.0    35.0
2           0.68025       3.2       9.3            41.0    32.0
3           0.25936       3.2       8.2            47.0    34.0
4           0.60447       3.8      10.0            75.0    33.0
...             ...       ...       ...             ...     ...
1383        0.44549       5.5       8.0            51.0    41.0
1384        0.52466       4.9       6.5            63.0    37.0
1385        0.88197       3.9       6.2            54.0    36.0
1386        0.47336       3.5       7.3            61.0    34.0
1387        0.58119       3.7       9.7            79.0    35.0

[1388 rows x 5 columns]

In [92]:
y = data.Grades
X = np.array([2, 3, 8, 53], dtype = 'float').reshape(1,-1)

In [93]:
from sklearn import linear_model
model = linear_model.LinearRegression()